#nav {
    overflow: auto;
}
#nav, #nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}
#nav li {
    float: left;
    width: 100px;
}
#nav ul {
    position: absolute;
    left: -999em;
    width: 100px;
}
#nav li:hover>ul {
    left: auto;
}
#nav li:hover {
    position: static;
}
#nav a {
    display: block;
}
#nav ul ul {
    margin: -1em 0px 0px 100px;
}