#nav {
    overflow: auto;
    font: 14px arial;
    border-bottom: solid 2px #cccccc;
}
#nav, #nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}
#nav li {
    float: left;
    width: 120px;
}
#nav ul {
    position: absolute;
    left: -999em;
    width: 120px;
    background-color: #f2f2f2;
    border: solid 1px #cccccc;
}
#nav li:hover > ul {
    left: auto;
}
#nav li:hover {
    position: static;
}
#nav a {
    display: block;
    color: #003366;
    text-decoration: none;
    padding: 4px;
}
#nav ul ul {
    margin: -23px 0px 0px 120px;
}
#nav>li {
    padding-bottom: 4px;
}
#nav li:hover>a {
    color: #6699cc;
    text-decoration: none;
}